<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
      <add key="MaxSearchExecutionTimeInSeconds" value="5" />
      <add key="IncludeFilePatteren" value="jpg" />
      <add key="ExcludeFolderPatteren" value="temp" />
    </appSettings>
</configuration>